@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.logo {
  font-family: 'Alfa Slab One', cursive;
}

.title{
  transition: all 1s ease-in-out;
  animation:  animate1 infinite 5s;
  animation-delay: 4s;
}
.title::before {
  content: "Builder";
  animation:  animate infinite 20s;
}
  
@keyframes animate {

    25% {
        content: "Builder";
        color:"white;"
    }

    50% {
        content: "Instructor";
        color:"white;"
    }

    75% {
        content: "Weeb";
        color:"white;"
    }
    100% {
        content: "Foodie";
        color:"white;"
    }
}

@keyframes animate1 {

  0% {
    opacity: 1;
  }
  50%{
      opacity: 0;
  }
  100% {
    opacity: 1;
  }
}